manifest {
    name = 'ERVmap'
    mainScript = 'main.nf'
}

docker {
    enabled = true
    runOptions = '--rm -u $(id -u):$(id -g)'
}

params {
    inputDir=''
    outputDir=''
    localOutDir=''
    outPrefix='test.'
    cpus=1
    limitMemory=32000000
    debug='off'
}

process {
    withName: ERValign {
        container = 'eipm/ervmap:latest'
        containerOptions = '--memory 35G --memory-swap 100G -v /path/to/genome:/genome:ro'
    }

    withName: ERVcount {
        container = 'eipm/ervmap:latest'
        containerOptions = '' 
    }

}