manifest {
    name = 'ERVmap'
    mainScript = 'main.nf'
}

docker {
    enabled = true
    runOptions = '--rm -u $(id -u):$(id -g)'
}

params {
    genome='/path/to/genome'
    inputDir='path/to/input/folder'
    inputPattern="*{1,2}.fastq.gz"
    skipAlignment=false
    outputDir='/path/to/output/folder'
    starTmpDir='/path/to/STAR/temp/folder'
    localOutDir='.'
    cpus=3
    limitMemory=1850861158
    debug='off'
}

process {
    withName: ERValign {
        container = 'eipm/ervmap:latest'
        containerOptions = "--memory 35G --memory-swap 100G -v ${params.genome}:/genome:ro -v ${params.starTmpDir}:/STAR_tmp"
    }

    withName: ERVcount {
        container = 'eipm/ervmap:latest'
        containerOptions = '' 
    }

}