manifest {
    name = 'ERVmap'
    mainScript = 'main.nf'
}

docker {
    enabled = true
}

// ervmap --read1 /data/SRR4235535_1.fastq.gz --read2 /data/SRR4235535_2.fastq.gz -c 35 -l 48000000000 -o SRR4235535.new/SRR4235535.  

process {
    withName: STAR-Alignment {
        container = 'eipm/ervmap:latest'
        containerOptions = ' --rm -it -u $(id -u):$(id -g) --memory 50G --memory-swap 100G --mode STAR -v $(pwd)/data:/data:ro -v /genome:/genome:ro -v $(pwd)/resources:/resources:ro -v $(pwd)/results:/results' 
    }

    withName: ERV-counting {
        container = 'eipm/ervmap:latest'
        containerOptions = ' --rm -it -u $(id -u):$(id -g)  --mode BED -v $(pwd)/data:/data:ro -v /genome:/genome:ro -v $(pwd)/resources:/resources:ro -v $(pwd)/results:/results' 
    }

}